import(data.table)
import(R2DT)
import(devFunc)
import(stats)

export(concProbContGrid)
export(concProbContKMeans)
export(concProbKMeansExpPredSep)
export(concProbKMeansPredSep)
export(concProbGrid)
export(concProbGridLowHigh)
